Package: enigma2-plugin-extensions-online-picons
Version: 1.0.6
Section: extra
Priority: optional
Architecture: all
Maintainer: routekernel
Depends: enigma2
Description: Online Picons downloader for DreamOS
 Downloads 220x132 satellite picon archives from
 github.com/dreamboxone/online-picons and installs PNG files
 in a user-selected destination.
